@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
/* 초기화 */
*{
    margin:0;
    padding: 0;
}
ul,ol{list-style: none;}
a{text-decoration: none; color:#111;}

#container{
    width:1200px;
    height: auto;
    margin:0 auto;
}
header{
    width: 100%;
    height: 100px;
    background: #0077cc;
}
header > .logo{
    float: left;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
    margin: 16px;
    
}
header > nav {
    position:relative;
    float:right;
    width: 900px;
    height: 100px;
}
header > nav > ul {
    position:absolute;
    left:0;
    bottom:0;
}
header > nav > ul > li{
    float: left;
    width: 200px;
    height: 60px;
}
header > nav > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height:60px;
    color: #fff;
    font-weight: bold;
    font-size:16px;
}
header > nav > ul > li > a:hover{
    color: #000;
}
header > nav > ul span{
    margin-left: 10px;
}
header > nav  ol {
    display: none;
}
header > nav  ol > li {}
header > nav  ol > li > a {
}
main {
    width:100%;
    height:auto;
}
#slideShow{
    width: 100%;
    height: 300px;
    position:relative;
}
#slideShow > section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:relative;
    overflow: hidden;;
}
#slideShow > section > img{position:absolute;}
#slideShow > section > img:nth-child(1){ top:0; left:0;}
#slideShow > section > img:nth-child(2){top:0; left:100%;}
#slideShow > section > img:nth-child(3){top:0; left:200%;}

#slideShow > button{
    padding: 20px;
    height: 100%;
    position:absolute;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    border: none;
}
#slideShow > button:hover{
    background:  #222;
    opacity: 0.4;
    cursor: pointer;;
    color: #fff;
}
#slideShow > button.left{
    top:0; left:0;
    
}
#slideShow > button.right{
    top:0; right: 0;

    
}

#contents{
    width: 100%;
    height:auto;
    overflow: hidden;;
}
#tabMenu{
    padding-top:20px;
    float:left;
    width:600px;
    height:300px;

}
#tabMenu > label{
    display: inline-block;
    padding: 15px 25px;
    border : 1px solid #ddd;
    background: #eee;
    color: #aaa;
}
#tabMenu > label > input[type=radio]{
    display: none;
}
#tabMenu > label:first-child {
    color: #bb0000;
    font-weight: bold;
}
#tabMenu > section{
    width: 100%;
    height: 100%;
    position:relative;
    border-top:1px solid #ddd;
}
#tabMenu > section > article{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display:none;
}
#tabMenu > section > article.on{display: block;}
#tabMenu > section ul{
    list-style: disc;
    margin-left: 36px;
    margin-top:26px;
}
#tabMenu > section ul > li{
    margin-bottom:12px;
}
#tabMenu > section ul a{}
#tabMenu > section ol{}
#tabMenu > section ol> li{}
#tabMenu > section ol a{}
#tabMenu > section ol img{}

#links{
    float:left;
    width:600px;
    height:300px;
}

#links > ul{
    width: 100%;
    height: 100%;
}
#links > ul > li{
    width: 33.33%;
    height: 100%;
    float:left;
}
#links > ul  a{}
#links > ul  span{
    display: block;
    width:150px;
    height:150px;
    border: 1px solid #ddd;
    border-radius: 150px;
    margin: 26px auto;
}
#links > ul  span.icon1{background: url('./../images/icon-1.jpg');}
#links > ul  span.icon2{background: url('./../images/icon-2.jpg');}
#links > ul  span.icon3{background: url('./../images/icon-3.jpg');}
#links > ul  h3{
    text-align: center;
    font-size:16px;
}

footer {
    width: 100%;
    height: 100px;
    border-top: 2px solid black;
}

#bottomMenu{
    width:100%;
    height:20px;
    position:relative;
}
#bottomMenu> ul{
    
}